{% extends 'base.html.twig' %}

{% block title %}Editer Vehicule{% endblock %}

{% block body %}
    <h1>Editer Vehicule</h1>

    {{ include('vehicule/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('vehicule_index') }}">Liste</a>

    {{ include('vehicule/_delete_form.html.twig') }}
{% endblock %}
