{% extends 'base.html.twig' %}

{% block title %}New Vehicule{% endblock %}

{% block body %}
    <h1>Ajouter Vehicule</h1>

    {{ include('vehicule/_form.html.twig') }}

    <a href="{{ path('vehicule_index') }}">Liste</a>
{% endblock %}
