{% extends 'base.html.twig' %}

{% block title %}Ajouter Conducteur{% endblock %}

{% block body %}
    <h1>Ajouter Conducteur</h1>

    {{ include('conducteur/_form.html.twig') }}

    <a href="{{ path('conducteur_index') }}">liste</a>
{% endblock %}
